td {
    vertical-align: middle !important;
}

@media screen and (min-width: 0px) {

    .main-menu {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .customEntitityLogo {
        background-color: aliceblue;
        position: relative;
        min-width: 60px;
        width: 60px;
        height: 60px;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        object-fit: contain;
        border-radius: 4%;
    }
}


@media screen and (min-width: 700px) {

    .customEntitityLogo {
        background-color: aliceblue;
        position: relative;
        min-width: 100px;
        width: 100px;
        height: 100px;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px;
        object-fit: contain;
        border-radius: 4%;
    }
}

@media screen and (min-width: 852px) {

    .main-menu {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}